<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="description"
	content="The most comprehensive hadith searching tool" />
<meta name="keywords"
	content="hadith, rewayaat, search, islam, narration, quran" />
<meta name="author" content="Rewayaat" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" th:href="@{/theme.css}" href="/theme.css" />
<link rel="stylesheet" th:href="@{/jquery.jscrollpane.css}"
	href="/jquery.jscrollpane.css" />
<link rel="stylesheet" th:href="@{/sweetalert.css}"
	href="/sweetalert.css" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans"
	rel="stylesheet" />
<link th:href="@{/pace.css}" href="/pace.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

<script th:src="@{/vue.js}" src="/vue.js"></script>
<script th:src="@{/rewayaat.js}" src="/rewayaat.js"></script>
<script th:src="@{/pace.min.js}" src="/pace.min.js"></script>
<script th:src="@{/uikit.min.js}" src="/uikit.min.js"></script>
<script th:src="@{/sweetalert-dev.js}" src="/sweetalert-dev.js"></script>
<script th:src="@{/uikit-icons.js}" src="/uikit-icons.js"></script>
<script th:src="@{/mwheelIntent.js}" src="/mwheelIntent.js"></script>
<script th:src="@{/jquery.mousewheel.js}" src="/jquery.mousewheel.js"></script>
<script th:src="@{/jquery.jscrollpane.js}" src="/jquery.jscrollpane.js"></script>

</head>
<body>
	<!--  LOAD THE MENU BAR AT THE TOP -->
	<div id="header"></div>
	<!---->
	<!--  VUE APP  -->
	
	<div id="parentContainer" class="uk-container-large uk-align-center">
		<div id="hadithView" class="uk-grid">
			<div
				class="uk-card uk-align-center uk-card-secondary uk-animation-slide-left-small uk-width-1-1 "
				v-for="(narration, index) in narrations">
				<div class="uk-align-left uk-width-1-6 hadithDetails"
					style="height: 90%; padding-left: 0px; margin-left: 0px; padding: 10px;">

					<div class="uk-align-left">
						<i style="color: #22df80" class="fa fa-book hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">{{narration.book}}</p>
					</div>

					<div class="uk-align-left" v-if="narration.edition">
						<i style="color: #c9dae1"
							class="fa fa-pencil-square-o hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">({{narration.edition}})</p>
					</div>

					<div class="uk-align-left" v-if="narration.number">
						<i style="color: #ea4f4f"
							class="fa fa-pencil-square-o hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">Hadith #{{narration.number}}</p>
					</div>

					<div class="uk-align-left" v-if="narration.chapter">
						<i style="color: #f5d4b7"
							class="fa fa-newspaper-o hadithDetailsIcon" aria-hidden="true"></i>
						<p class="hadithDetailsTitle">Chapter #{{narration.chapter}}</p>
					</div>

					<div class="uk-align-left" v-if="narration.part">
						<i style="color: #f8bb86" class="fa fa-clone hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">part #{{narration.part}}</p>
					</div>

					<div class="uk-align-left" v-if="narration.volume">
						<i style="color: #a1f5f2" class="fa fa-folder-o hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">volume #{{narration.volume}}</p>
					</div>
					<span class="uk-align-left"
						v-for="gradingobj in narration.gradings"
						v-bind:class="gradeLabelClass(gradingobj.grading)"> <i
						v-bind:class="gradeLabelIcon(gradingobj.grading)"
						aria-hidden="true"></i> {{gradingobj.grader}}
					</span>
				</div>

				<div class="uk-grid">

					<div class="hadithGrid">
						<div class="uk-align-left">



<!-- Sharingbutton WhatsApp -->
<a class="resp-sharing-button__link uk-align-right" v-bind:href="narration.whatsapp" target="_blank" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.1 3.9C17.9 1.7 15 .5 12 .5 5.8.5.7 5.6.7 11.9c0 2 .5 3.9 1.5 5.6L.6 23.4l6-1.6c1.6.9 3.5 1.3 5.4 1.3 6.3 0 11.4-5.1 11.4-11.4-.1-2.8-1.2-5.7-3.3-7.8zM12 21.4c-1.7 0-3.3-.5-4.8-1.3l-.4-.2-3.5 1 1-3.4L4 17c-1-1.5-1.4-3.2-1.4-5.1 0-5.2 4.2-9.4 9.4-9.4 2.5 0 4.9 1 6.7 2.8 1.8 1.8 2.8 4.2 2.8 6.7-.1 5.2-4.3 9.4-9.5 9.4zm5.1-7.1c-.3-.1-1.7-.9-1.9-1-.3-.1-.5-.1-.7.1-.2.3-.8 1-.9 1.1-.2.2-.3.2-.6.1s-1.2-.5-2.3-1.4c-.9-.8-1.4-1.7-1.6-2-.2-.3 0-.5.1-.6s.3-.3.4-.5c.2-.1.3-.3.4-.5.1-.2 0-.4 0-.5C10 9 9.3 7.6 9 7c-.1-.4-.4-.3-.5-.3h-.6s-.4.1-.7.3c-.3.3-1 1-1 2.4s1 2.8 1.1 3c.1.2 2 3.1 4.9 4.3.7.3 1.2.5 1.6.6.7.2 1.3.2 1.8.1.6-.1 1.7-.7 1.9-1.3.2-.7.2-1.2.2-1.3-.1-.3-.3-.4-.6-.5z"/></svg>
    </div>
  </div>
</a>

<a class="resp-sharing-button__link uk-align-right" v-bind:href="narration.facebook" target="_blank" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
    </div>
  </div>
</a>

<!-- Sharingbutton Twitter -->
<a class="resp-sharing-button__link uk-align-right" v-bind:href="narration.twitter" target="_blank" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg>
    </div>
  </div>
</a>

<!-- Sharingbutton Google+ -->
<a class="resp-sharing-button__link uk-align-right" v-bind:href="narration.googleplus" target="_blank" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--google resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.37 12.93c-.73-.52-1.4-1.27-1.4-1.5 0-.43.03-.63.98-1.37 1.23-.97 1.9-2.23 1.9-3.57 0-1.22-.36-2.3-1-3.05h.5c.1 0 .2-.04.28-.1l1.36-.98c.16-.12.23-.34.17-.54-.07-.2-.25-.33-.46-.33H7.6c-.66 0-1.34.12-2 .35-2.23.76-3.78 2.66-3.78 4.6 0 2.76 2.13 4.85 5 4.9-.07.23-.1.45-.1.66 0 .43.1.83.33 1.22h-.08c-2.72 0-5.17 1.34-6.1 3.32-.25.52-.37 1.04-.37 1.56 0 .5.13.98.38 1.44.6 1.04 1.84 1.86 3.55 2.28.87.23 1.82.34 2.8.34.88 0 1.7-.1 2.5-.34 2.4-.7 3.97-2.48 3.97-4.54 0-1.97-.63-3.15-2.33-4.35zm-7.7 4.5c0-1.42 1.8-2.68 3.9-2.68h.05c.45 0 .9.07 1.3.2l.42.28c.96.66 1.6 1.1 1.77 1.8.05.16.07.33.07.5 0 1.8-1.33 2.7-3.96 2.7-1.98 0-3.54-1.23-3.54-2.8zM5.54 3.9c.33-.38.75-.58 1.23-.58h.05c1.35.05 2.64 1.55 2.88 3.35.14 1.02-.08 1.97-.6 2.55-.32.37-.74.56-1.23.56h-.03c-1.32-.04-2.63-1.6-2.87-3.4-.13-1 .08-1.92.58-2.5zM23.5 9.5h-3v-3h-2v3h-3v2h3v3h2v-3h3"/></svg>
    </div>
  </div>
</a>

<!-- Sharingbutton Tumblr -->
<a class="resp-sharing-button__link uk-align-right" v-bind:href="narration.tumblr" target="_blank" aria-label="">
  <div class="resp-sharing-button resp-sharing-button--tumblr resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5.5v5h5v4h-5V15c0 5 3.5 4.4 6 2.8v4.4c-6.7 3.2-12 0-12-4.2V9.5h-3V6.7c1-.3 2.2-.7 3-1.3.5-.5 1-1.2 1.4-2 .3-.7.6-1.7.7-3h3.8z"/></svg>
    </div>
  </div>
</a>

							<div uk-switcher="animation: uk-animation-fade">
								<button type="button" v-if="narration.english"
									v-bind:class="isActiveClass(narration.english)" class="uk-button uk-button-default">English</button>
								<button type="button" v-if="narration.arabic"
									v-bind:class="isActiveClass(narration.arabic)" class="uk-button uk-active uk-button-default">Arabic</button>
								<button type="button" v-if="narration.notes"
									class="uk-button uk-button-default">Notes</button>
								<button type="button" v-if="narration.related.length > 0"
									class="uk-button uk-button-default">Related</button>
							</div>
							<ul class="uk-switcher uk-margin">
								<li v-if="narration.english"><div
										class="hadithText scrollable" v-html="narration.english"></div></li>
								<li v-if="narration.arabic"><div
										class="arabicHadithText scrollable" v-html="narration.arabic"></div></li>
								<li v-if="narration.notes"><div
										class="hadithText scrollable" v-html="narration.notes"></div></li>
								<li class="relatedObjList" v-if="narration.related.length > 0"><a
									class="relatedObj " v-for="relatedObj in narration.related"
									v-bind:href="relatedObj.url">
										<div style="margin: 20px; padding: 20px;"
											class="uk-card uk-card-default uk-card-small uk-card-secondary uk-animation-slide-left-small relatedObj">
											<h4 class="uk-text-uppercase"
												style="font-family: Lane; font-weight: 600">
												<i class="fa fa-external-link" aria-hidden="true"></i> <span
													style="color: #22df80;">{{relatedObj.title}}</span>
											</h4>
											<div style="font-family: Open Sans" class="uk-text-meta">{{relatedObj.description}}</div>
										</div>
								</a></li>
							</ul>
						</div>
						<!-- Sharingbutton Facebook -->

						
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!--  LOAD THE MENU BAR AT THE TOP -->
	<div id="footer"></div>
	<!---->
	<script th:inline="javascript" type="text/javascript">
	
	var query = [[${query}]];
	
		$(function() {
			$("#header").load("/header.html", function() {
				if (query) {
			    	document.getElementById('query').innerHTML = query;
			    	updateQueryColor(0);
				}
			});
		});
		
		$(function() {
			$("#footer").load("/footer.html");
		});
		
		loadQuery(query);
	</script>
</body>
</html>
