<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="description"
	content="The most comprehensive hadith searching tool" />
<meta name="keywords"
	content="hadith, rewayaat, search, islam, narration, quran" />
<meta name="author" content="Rewayaat" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" th:href="@{/theme.css}" href="/theme.css" />
<link rel="stylesheet" th:href="@{/jquery.jscrollpane.css}"
	href="/jquery.jscrollpane.css" />
<link rel="stylesheet" th:href="@{/sweetalert.css}"
	href="/sweetalert.css" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans"
	rel="stylesheet" />
<link th:href="@{/pace.css}" href="/pace.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

<script th:src="@{/vue.js}" src="/vue.js"></script>
<script th:src="@{/rewayaat.js}" src="/rewayaat.js"></script>
<script th:src="@{/pace.min.js}" src="/pace.min.js"></script>
<script th:src="@{/uikit.min.js}" src="/uikit.min.js"></script>
<script th:src="@{/sweetalert-dev.js}" src="/sweetalert-dev.js"></script>
<script th:src="@{/uikit-icons.js}" src="/uikit-icons.js"></script>
<script th:src="@{/mwheelIntent.js}" src="/mwheelIntent.js"></script>
<script th:src="@{/jquery.mousewheel.js}" src="/jquery.mousewheel.js"></script>
<script th:src="@{/jquery.jscrollpane.js}" src="/jquery.jscrollpane.js"></script>

</head>
<body>
	<!--  LOAD THE MENU BAR AT THE TOP -->
	<div id="header"></div>
	<!---->
	<!--  VUE APP  -->
	<div id="parentContainer" class="uk-container-large uk-align-center">
		<div id="hadithView" class="uk-grid">
			<div
				class="uk-card uk-align-center uk-card-secondary uk-animation-slide-left-small uk-width-1-1 "
				v-for="(narration, index) in narrations">
				<div class="uk-align-left uk-width-1-6 hadithDetails"
					style="height: 90%; padding-left: 0px; margin-left: 0px; padding: 10px;">

					<div class="uk-align-left">
						<i style="color: #22df80" class="fa fa-book hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">{{narration.book}}</p>
					</div>

					<div class="uk-align-left" v-if="narration.edition">
						<i style="color: #c9dae1"
							class="fa fa-pencil-square-o hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">({{narration.edition}})</p>
					</div>

					<div class="uk-align-left" v-if="narration.number">
						<i style="color: #ea4f4f"
							class="fa fa-pencil-square-o hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">Hadith #{{narration.number}}</p>
					</div>

					<div class="uk-align-left" v-if="narration.chapter">
						<i style="color: #f5d4b7"
							class="fa fa-newspaper-o hadithDetailsIcon" aria-hidden="true"></i>
						<p class="hadithDetailsTitle">Chapter #{{narration.chapter}}</p>
					</div>

					<div class="uk-align-left" v-if="narration.part">
						<i style="color: #f8bb86" class="fa fa-clone hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">part #{{narration.part}}</p>
					</div>

					<div class="uk-align-left" v-if="narration.volume">
						<i style="color: #a1f5f2" class="fa fa-folder-o hadithDetailsIcon"
							aria-hidden="true"></i>
						<p class="hadithDetailsTitle">volume #{{narration.volume}}</p>
					</div>
					<span class="uk-align-left"
						v-for="gradingobj in narration.gradings"
						v-bind:class="gradeLabelClass(gradingobj.grading)"> <i
						v-bind:class="gradeLabelIcon(gradingobj.grading)"
						aria-hidden="true"></i> {{gradingobj.grader}}
					</span>
				</div>

				<div class="uk-grid">

					<div class="hadithGrid">
						<div class="uk-align-left">

							<div uk-switcher="animation: uk-animation-fade">
								<button type="button" v-if="narration.english"
									v-bind:class="isActiveClass(narration.english)" class="uk-button uk-button-default">English</button>
								<button type="button" v-if="narration.arabic"
									v-bind:class="isActiveClass(narration.arabic)" class="uk-button uk-active uk-button-default">Arabic</button>
								<button type="button" v-if="narration.notes"
									class="uk-button uk-button-default">Notes</button>
								<button type="button" v-if="narration.related.length > 0"
									class="uk-button uk-button-default">Related</button>
							</div>
							<ul class="uk-switcher uk-margin">
								<li v-if="narration.english"><div
										class="hadithText scrollable" v-html="narration.english"></div></li>
								<li v-if="narration.arabic"><div
										class="arabicHadithText scrollable" v-html="narration.arabic"></div></li>
								<li v-if="narration.notes"><div
										class="hadithText scrollable" v-html="narration.notes"></div></li>
								<li class="relatedObjList" v-if="narration.related.length > 0"><a
									class="relatedObj " v-for="relatedObj in narration.related"
									v-bind:href="relatedObj.url">
										<div style="margin: 20px; padding: 20px;"
											class="uk-card uk-card-default uk-card-small uk-card-secondary uk-animation-slide-left-small relatedObj">
											<h4 class="uk-text-uppercase"
												style="font-family: Lane; font-weight: 600">
												<i class="fa fa-external-link" aria-hidden="true"></i> <span
													style="color: #22df80;">{{relatedObj.title}}</span>
											</h4>
											<div style="font-family: Open Sans" class="uk-text-meta">{{relatedObj.description}}</div>
										</div>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---->
	<script th:inline="javascript" type="text/javascript">
	
	var query = [[${query}]];
	
		$(function() {
			$("#header").load("/header.html", function() {
				if (query) {
			    	document.getElementById('query').innerHTML = query;
			    	updateQueryColor(0);
				}
			});
		});
		
		loadQuery(query);
	</script>
</body>
</html>
